.g100 {
  background-color: rgba(32, 110, 57, 255);
}
.g90 {
  background-color: rgba(49, 161, 78, 255);
}
.g80 {
  background-color: rgba(155, 233, 168, 255);
}
.g70 {
  background-color: rgba(247, 234, 53, 255);
}
.g60 {
  background-color: rgba(247, 160, 153, 255);
}
.g50 {
  background-color: rgba(211, 44, 44, 255);
}

.b100 {
  background-color: rgba(2, 105, 29, 255);
}
.b90 {
  background-color: rgba(100, 211, 44, 255);
}
.b80 {
  background-color: rgba(183, 211, 44, 255);
}
.b70 {
  background-color: rgba(210, 155, 44, 255);
}
.b60 {
  background-color: rgba(211, 72, 45, 255);
}
.b50 {
  background-color: rgba(211, 44, 44, 255);
}

.a100 {
  background-color: rgba(100, 211, 44, 255);
}
.a90 {
  background-color: rgba(128, 210, 45, 255);
}
.a80 {
  background-color: rgba(155, 211, 45, 255);
}
.a70 {
  background-color: rgba(183, 211, 44, 255);
}
.a60 {
  background-color: rgba(210, 210, 46, 255);
}
.a50 {
  background-color: rgba(211, 183, 44, 255);
}
.a40 {
  background-color: rgba(210, 155, 44, 255);
}
.a30 {
  background-color: rgba(211, 127, 44, 255);
}
.a20 {
  background-color: rgba(210, 100, 45, 255);
}
.a10 {
  background-color: rgba(211, 72, 45, 255);
}
